body{
  background: radial-gradient(circle farthest-corner at 100px 50px, #daecf7, #efdef8);
}



.app-wrapper{
max-width: 1200px;
padding: 0 15px;
margin: 0 auto;

  display: grid;

  grid-template-areas: 'h h'
  'n p'
  ;

grid-template-rows: 60px 1fr;
grid-template-columns: 2fr 10fr;
gap: 10px;
}

.header{
grid-area: h;
background-color: green;
}

.header img{
  width: 28px;
}

.nav{
grid-area: n;
background-color: burlywood;
}

.profile{
grid-area: p;
background-color: cornflowerblue;
}